<div class="outer-container">
  <div class="inner-container">
    <h2>Add a movie to your <%= @list.name %> list</h2>

    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
      <%= f.association :movie, prompt: 'Select a movie' %>
      <%= f.submit class:"btn btn-black w-100" %>
    <% end %>
  </div>
</div>
